*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;

}

.navbar{
    background-color: paleturquoise;
}

.btn{
    margin: 3px;
}
    
.box01{
    margin: 0;
    padding: 0;
    height: auto;
}

.caja00{
    height: 10rem;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}

.caja1 {
    padding: 2rem;
    background-color: rgba(134, 192, 146, 0.536);
    height: 30rem;

}

.caja2 {
    padding: 2rem;
    background-color: rgba(134, 192, 146, 0.536);
    height: 30rem;
    

}

.card{
    margin: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    text-align: center;
}
 .sidebarx{
    background-color: black;
 }
